---
layout: default
---

<div class="home">
    <div class="logo">
        <img src="{{ '/assets/img/coding.jpg' | relative_url }}" />
    </div>
    <div class="home_content">
    <p>Materiale di supporto al Workshop introduzione alla libreria<a href="http://openlayers.org/" target="_blank"> OpenLayers</a>.</p>
    <!--<p>A questo <a href="{{ '/assets/esercitazione.zip' | relative_url }}">link</a> potete scaricare il codice dell'esercizio finale, con i dati ed lo script proxy.php usato per aggirare i problemi delle richieste Cross-Origin.</p>-->
    <p>Tutto il materiale incluso in queste pagine è distribuito con licenza <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/legalcode" target="_blank">Creative Commons BY-NC-SA</a></p>
    </div>
</div>
